.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.navbar-brand {
  padding-left: 1rem;
}

.navbar-toggler {
  border: none;
}

.navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
