<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light p-0">
  <a class="navbar-brand" routerLink="/">
    <i class="fa fa-calendar"></i>
    {{ 'slot.management' | translate }}
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ show: opened }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/scheduler" routerLinkActive="active">{{ 'scheduler' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/plannings" routerLinkActive="active">{{ 'template' | translate }}</a>
      </li>
    </ul>

    <form [formGroup]="selectBookableResourceForm" class="form-inline">
      <div class="input-group">
        <select formControlName="bookableResourceField" class="form-control">
          <option *ngFor="let bookableResource of bookableResources" [value]="bookableResource.id">
            {{ bookableResource.id }}
          </option>
        </select>
      </div>
    </form>

    <form [formGroup]="selectLanguageForm" class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-language"></i>
          </div>
        </div>
        <select formControlName="languageField" class="form-control">
          <option *ngFor="let language of languages" [value]="language">
            {{ language }}
          </option>
        </select>
      </div>
    </form>
  </div>
</nav>
