<div class="row">
  <div class="col-auto">
    <h1 class="display-3">404</h1>
  </div>
  <div class="col">
    <h4 class="pt-3">{{ '404.title' | translate }}</h4>
    <p class="text-muted">{{ '404.description' | translate }}</p>
  </div>
</div>
