<div class="row">
  <div class="col">
    <div class="border-bottom mb-3">
      <h1 class="h3">{{ 'templates.of.planning' | translate: { label: planning?.label } }}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="float-right">
      <a routerLink="/planning/{{ planningId }}/template/new" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        {{ 'add.new.template' | translate }}
      </a>
    </div>
  </div>
</div>

<div class="row mt-3 mb-3">
  <div class="col-auto">
    <ng-container *ngIf="planningTemplates && planningTemplates.length == 0; then noPlanningTemplate"></ng-container>
    <ng-container *ngIf="planningTemplates && planningTemplates.length > 0; then multiplePlanningTemplates"></ng-container>
  </div>
</div>

<ng-template #noPlanningTemplate>
  <p>{{ 'no.template.found' | translate }}</p>
</ng-template>

<ng-template #multiplePlanningTemplates>
  <ul class="list-group">
    <li *ngFor="let planningTemplate of planningTemplates" class="list-group-item">
      <a routerLink="/template/{{ planningTemplate.id }}">
        <span *ngIf="planningTemplate.endDateTime">
          {{
            'from.date.to.date'
              | translate
                : { from: planningTemplate.startDateTime | date: 'shortDate', to: planningTemplate.endDateTime | date: 'shortDate' }
          }}
        </span>
        <span *ngIf="!planningTemplate.endDateTime">
          {{ 'from.date' | translate: { from: planningTemplate.startDateTime | date: 'shortDate' } }}
        </span>
      </a>
    </li>
  </ul>

  <div *ngIf="pagination.totalItems" class="row justify-content-between mt-1">
    <div class="col-4 col-sm-4 col-md-7">
      <span class="badge">{{ 'page:' | translate }} {{ pagination.page }} / {{ pagination.totalPages }}</span>
    </div>
    <div class="col-8 col-sm-8 col-md-5">
      <pagination
        [totalItems]="pagination.totalItems"
        [formControl]="paginationField"
        [maxSize]="pagination.maxSize"
        [itemsPerPage]="pagination.itemsPerPage"
        previousText="‹"
        nextText="›"
        firstText="«"
        lastText="»"
        [boundaryLinks]="true"
        (numPages)="pagination.totalPages = $event"
        class="pagination-sm float-right"
      ></pagination>
    </div>
  </div>
</ng-template>
