<form [formGroup]="saveForm" (ngSubmit)="save()" class="form">
  <div class="form-row">
    <div class="form-group col-md-6 col-lg-3 col-xl-2">
      <label for="start-date">{{ 'start.date' | translate }}</label>
      <input
        type="text"
        bsDatepicker
        formControlName="startDateField"
        name="start-date"
        class="form-control"
        [ngClass]="{ 'is-invalid': (startDateField.touched && startDateField.invalid) || saveForm['errors']?.startDateAfterEndDate }"
        placeholder="{{ 'select.a.start.date' | translate }}"
        [minDate]="today"
      />
      <div *ngIf="startDateField.touched && startDateField['errors']?.required" class="invalid-feedback">
        {{ 'empty.required.field' | translate }}
      </div>
    </div>

    <div class="form-group col-md-6 col-lg-3 col-xl-2">
      <label for="end-date">{{ 'end.date' | translate }}</label>
      <input
        type="text"
        bsDatepicker
        formControlName="endDateField"
        name="end-date"
        class="form-control"
        [ngClass]="{ 'is-invalid': saveForm['errors']?.startDateAfterEndDate }"
        placeholder="{{ 'select.an.end.date' | translate }}"
        [minDate]="today"
      />
    </div>

    <div *ngIf="saveForm['errors']?.startDateAfterEndDate" class="invalid-feedback">
      {{ 'start.date.cannot.be.after.end.date' | translate }}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-auto">
      <button type="submit" [disabled]="saveForm.invalid" class="btn btn-primary">{{ 'save' | translate }}</button>
    </div>
  </div>
</form>
