<div class="row">
  <div class="col">
    <div class="border-bottom mb-3">
      <h1 class="h3">{{ 'plannings' | translate }}</h1>
    </div>
  </div>
</div>

<div class="row mt-3 mb-3">
  <div class="col-auto">
    <ng-container *ngIf="!plannings || plannings.length == 0; then noPlanning"></ng-container>
    <ng-container *ngIf="plannings && plannings.length > 0; then multiplePlannings"></ng-container>
  </div>
</div>

<ng-template #noPlanning>
  <p>{{ 'no.planning.found' | translate }}</p>
</ng-template>

<ng-template #multiplePlannings>
  <ul class="list-group">
    <li *ngFor="let planning of plannings" class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        <a routerLink="/planning/{{ planning.id }}">
          {{ planning.label }}
        </a>
      </span>
    </li>
  </ul>
</ng-template>
