<div class="scrollable-container">
  <div class="scrollable-section">
    <div class="row">
      <div class="col">
        <form [formGroup]="saveForm" (ngSubmit)="save()" class="form-row">
          <div class="form-group col-md-6 col-lg-3 col-xl-2">
            <label for="start-date">{{ 'start.date' | translate }}</label>
            <input
              type="text"
              bsDatepicker
              formControlName="startDateField"
              name="start-date"
              class="form-control"
              [ngClass]="{
                'is-invalid': (startDateField.touched && startDateField.invalid) || saveForm['errors']?.startDateAfterEndDate
              }"
              placeholder="{{ 'select.a.start.date' | translate }}"
            />
            <div *ngIf="startDateField.touched && startDateField['errors']?.required" class="invalid-feedback">
              {{ 'empty.required.field' | translate }}
            </div>
          </div>

          <div class="form-group col-md-6 col-lg-3 col-xl-2">
            <label for="end-date">{{ 'end.date' | translate }}</label>
            <input
              type="text"
              bsDatepicker
              formControlName="endDateField"
              name="end-date"
              class="form-control"
              [ngClass]="{ 'is-invalid': saveForm['errors']?.startDateAfterEndDate }"
              placeholder="{{ 'select.an.end.date' | translate }}"
            />
          </div>

          <div *ngIf="saveForm['errors']?.startDateAfterEndDate" class="invalid-feedback">
            {{ 'start.date.cannot.be.after.end.date' | translate }}
          </div>

          <div class="form-group col-auto">
            <button type="submit" [disabled]="saveForm.invalid" class="btn btn-primary form-btn">{{ 'save' | translate }}</button>
          </div>

          <div class="form-group col-auto">
            <button (click)="delete(confirmDeletionTemplate)" type="button" class="btn btn-danger form-btn">
              <i class="fa fa-trash"></i>
              {{ 'delete' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row bg-dark text-light text-center">
      <div class="hour-col"></div>
      <div *ngFor="let timetableDay of timetableDays" class="col">
        <span class="h5 text-capitalize">{{ timetableDay | date: 'EEEE' }}</span>
      </div>
      <div class="scrollbar-padding"></div>
    </div>

    <div class="scrollable-content">
      <div class="row hour-row" *ngFor="let timetableHour of timetableHours; index as hourIndex">
        <div class="hour-col text-right">
          <span *ngIf="isBeginTime(timetableHour)" class="begin-time"></span>
          <span class="hour h6">
            {{ timetableHour | date: 'shortTime' }}
          </span>
        </div>
        <div *ngFor="let timetableDay of timetableDays; index as dayIndex" class="col hour-cell" (click)="createSlot(dayIndex, hourIndex)">
          <button
            popoverTitle="{{ slotTemplate.startDateTime | date: 'shortTime' }} - {{ slotTemplate.endDateTime | date: 'shortTime' }}"
            [popover]="popoverTemplate"
            #openedPopover="bs-popover"
            (onShown)="openPopover(openedPopover)"
            [popoverContext]="{ slotTemplate: slotTemplate }"
            [outsideClick]="true"
            *ngFor="let slotTemplate of timetableSlots[hourIndex][dayIndex].slotTemplates; index as slotIndex"
            type="button"
            class="slot bg-primary text-white border overflow-hidden d-flex flex-wrap align-content-start"
            [style.top]="getTopPercentage(timetableHour, slotTemplate.startDateTime) + '%'"
            [style.height]="getHeightPercentage(slotTemplate.startDateTime, slotTemplate.endDateTime) + '%'"
            [style.width]="getWidthPercentage(timetableSlots[hourIndex][dayIndex].slotTemplates.length) + '%'"
            [style.left]="getLeftPercentage(timetableSlots[hourIndex][dayIndex].slotTemplates.length, slotIndex) + '%'"
            [style.z-index]="slotIndex + 1"
            (click)="$event.stopPropagation()"
          >
            <div class="text-left">
              {{ slotTemplate.startDateTime | date: 'shortTime' }} - {{ slotTemplate.endDateTime | date: 'shortTime' }}
            </div>
            <div class="text-right float-right">{{ slotTemplate.maxCapacity }}</div>
          </button>

          <ng-template #popoverTemplate let-slotTemplate="slotTemplate">
            {{ 'number.of.available.slots:' | translate }} {{ slotTemplate.maxCapacity }}

            <button
              (click)="openEditSlotModal(editSlotTemplate, slotTemplate); $event.stopPropagation()"
              type="button"
              class="btn btn-sm btn-primary"
            >
              <i class="fa fa-edit"></i>
            </button>

            <button
              (click)="deleteSlot(timetableSlots[hourIndex][dayIndex].slotTemplates, slotTemplate); $event.stopPropagation()"
              type="button"
              class="btn btn-sm btn-danger"
            >
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editSlotTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ editedSlotTemplate.startDateTime | date: 'shortTime' }} - {{ editedSlotTemplate.endDateTime | date: 'shortTime' }}
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="editSlotModal.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editSlotForm" (ngSubmit)="editSlot()">
      <div class="form-group">
        <label>{{ 'start.time' | translate }}</label>
        <timepicker [formControl]="editSlotStartTimeField" [showMeridian]="false"></timepicker>
      </div>
      <div class="form-group">
        <label>{{ 'end.time' | translate }}</label>
        <timepicker [formControl]="editSlotEndTimeField" [showMeridian]="false"></timepicker>
      </div>
      <!--TODO maxCapacity-->
      <div class="form-group">
        <button type="submit" [disabled]="editSlotForm.invalid" class="btn btn-primary">{{ 'save' | translate }}</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirmDeletionTemplate>
  <div class="modal-header">
    <h1 class="h4 modal-title pull-left">
      {{ 'delete.template' | translate }}
    </h1>
    <button type="button" class="close pull-right" (click)="decline()">×</button>
  </div>
  <div class="modal-body">
    <p>
      {{ 'are.you.sure.you.want.to.delete.this.template' | translate }}
    </p>

    <div class="row">
      <div class="col-auto">
        <button type="button" class="btn btn-danger" (click)="confirm()">
          <i class="fa fa-trash"></i>
          {{ 'delete' | translate }}
        </button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-secondary" (click)="decline()">{{ 'cancel' | translate }}</button>
      </div>
    </div>
  </div>
</ng-template>
