<div class="scrollable-container">
  <div class="scrollable-section">
    <div class="row">
      <div class="col bg-dark text-light d-flex justify-content-between align-items-baseline py-1">
        <div class="badge">{{ now | date: 'z' }}</div>

        <div class="d-flex align-items-baseline justify-content-center">
          <button
            bsDatepicker
            #dp="bsDatepicker"
            (bsValueChange)="firstDayOfSchedulerField.setValue($event)"
            [bsValue]="firstDayOfSchedulerField.value"
            [bsConfig]="{ selectWeek: true, selectFromOtherMonth: true }"
            type="button"
            class="text-capitalize font-weight-bold btn btn-dark dropdown-toggle month"
          >
            {{ [beginDate, endDate] | dateRange }}
          </button>

          <span class="badge">{{ 'week' | translate }} {{ [beginDate, endDate] | dateRange: 'w' }}</span>
        </div>

        <div></div>
      </div>
    </div>

    <div class="row bg-dark text-light">
      <div class="hour-col px-1">
        <div class="d-flex justify-content-center">
          <button (click)="goToToday()" type="button" class="btn btn-sm btn-outline-light">{{ 'today' | translate }}</button>
        </div>

        <button (click)="previous()" class="btn btn-dark float-left" type="button">
          <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="next()" class="btn btn-dark float-right" type="button">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <div *ngFor="let timetableDay of timetableDays; let dayIndex = index" class="col text-center">
        <span class="font-weight-bold" [ngClass]="{ 'active-day': dayIndex === nowDayIndex }">
          {{ timetableDay | date: 'EEEE' }}
          <h2 class="h3">{{ timetableDay | date: 'dd' }}</h2>
        </span>
      </div>
      <div class="scrollbar-padding"></div>
    </div>

    <div class="scrollable-content">
      <div class="row hour-row" *ngFor="let timetableHour of timetableHours; index as hourIndex">
        <div class="hour-col text-right">
          <span *ngIf="isBeginTime(timetableHour)" class="begin-time"></span>
          <span class="hour h6" [ngClass]="{ 'active-hour': hourIndex === nowSlotIndex }">
            {{ timetableHour | date: 'shortTime' }}
          </span>
        </div>
        <div *ngFor="let timetableDay of timetableDays; index as dayIndex" class="col hour-cell">
          <div
            class="active-slot"
            *ngIf="dayIndex === nowDayIndex && hourIndex === nowSlotIndex"
            [style.top]="getTopPercentage(timetableSlots[hourIndex][dayIndex].hourStartDateTime, now) + '%'"
          ></div>

          <button
            *ngFor="let slot of timetableSlots[hourIndex][dayIndex].slots; index as slotIndex"
            type="button"
            class="slot bg-primary text-white border overflow-hidden d-flex flex-wrap align-content-start"
            [style.top]="getTopPercentage(timetableSlots[hourIndex][dayIndex].hourStartDateTime, slot.startDateTime) + '%'"
            [style.height]="getHeightPercentage(slot.startDateTime, slot.endDateTime) + '%'"
            [style.width]="getWidthPercentage(timetableSlots[hourIndex][dayIndex].slots.length) + '%'"
            [style.left]="getLeftPercentage(timetableSlots[hourIndex][dayIndex].slots.length, slotIndex) + '%'"
            [style.z-index]="slotIndex + 1"
          >
            <div class="text-left">{{ slot.startDateTime | date: 'shortTime' }} - {{ slot.endDateTime | date: 'shortTime' }}</div>
            <div class="d-flex justify-content-between">
              <div class="text-left">
                <i *ngIf="slot.slotTemplateId" class="fa fa-refresh"></i>
              </div>
              <div class="text-right">{{ slot.numberOfReservations }}/{{ slot.maxCapacity }}</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
