.scrollable-container {
  top: 40px;
}

.active-day {
  color: var(--primary);
}

.active-hour {
  color: var(--primary);
  font-weight: bold;
}

.active-slot {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--red);
  z-index: 999;

  &::before {
    position: absolute;
    background: var(--red);
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '';
    height: 12px;
    margin-left: -6.5px;
    margin-top: -5px;
    width: 12px;
    z-index: 999;
  }
}
