.theme-green .bs-datepicker-head {
  background-color: var(--primary);
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*='select-']:after,
.theme-green .bs-datepicker-body table td[class*='select-'] span:after {
  background-color: var(--primary);
}

.theme-green .bs-datepicker-body table td.week span {
  color: var(--primary);
}

.theme-green .bs-datepicker-body table td.active-week span:hover {
  background-color: var(--primary);
}

.row {
  margin-right: 0;
  margin-left: 0;
}

// Fix Bootstrap bug https://github.com/twbs/bootstrap/issues/23454
.invalid-feedback {
  display: block;
}

button.form-btn {
  margin-top: 2rem;
}

@media (max-width: 767.98px) {
  button.form-btn {
    margin-top: 0;
  }
}

.scrollable-container {
  /* give the outermost container a predefined size */
  position: absolute;
  top: 58px; /* Space for fixed navbar */
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.scrollable-section {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
}

.scrollable-content {
  flex-grow: 1;

  overflow-y: scroll;
  overflow-x: hidden;

  /* for Firefox */
  min-height: 0;
}

.scrollbar-padding {
  overflow: scroll;
  visibility: hidden;
  -moz-box-flex: none;
  flex: none;
}

.hour {
  display: block;
  position: relative;
  top: -0.1rem;
  right: 0.2rem;
}

.hour-col {
  width: 100px;
}

.hour-cell {
  position: relative;
  height: 50px;
}

.hour-cell,
.hour-col {
  border-bottom: 1px solid rgb(222, 226, 230);
  margin-bottom: -1px;
  border-left: 1px solid rgb(222, 226, 230);
  margin-left: -1px;
}

.slot {
  position: absolute;
  left: 0;
  min-height: 100%;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  div {
    flex: 100%;
  }
}
